*{
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,54,112,1) 36%, rgba(0,212,255,1) 99%);
  }
.container{
  width: 100vw;
  height: 100vh;
  font-family: "Gill-Sans", "sans-serif";
  color: white;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  align-items: center;
  }
.clock-container{
  border: 3px solid white;
  padding: 10px;
  }
.container span{
  margin-left: 10px;
  color: white;
  }
#ampm{
  font-size: 3rem;
  align-items: end;
  }
